# Rainmeter build artifacts & cache
*.rmskin
*.log
*.bak
*.bak*
Thumbs.db
Desktop.ini
hipodromo-gavea.webp
*.psd

# Exclude heavy assets content from git except official release showcase
assets/*
!assets/stormticker-release.jpg
